<!DOCTYPE html>
<html lang="lv">
<head>
  
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/style.css">
    
</head>
<body>
     <div class="containerBackround">
         
                <div class="myButton">
                 
                      <a href="/"> <img class="Logo"src="static/MedNetLogoMyVer1..png";
                      style="width:100px" /> </a>
                      
                      <div class="myButtonPaddingCostum">
                        <a href="/" >Sākums</a>
                        <a href="/doktoratiunpoliklinikas" >Doktorati un Poliklinkas</a>
                        <a href="/kontakti" >Kontakti</a>
                        <a href="/arsti" >Ārsti</a>
                      </div>
              </div>
               
        
         </header> 
      
  
      <img class="addPosition" src="static/AI-and-Medicine.jpg" >
      <div class="containerPieteiksanas">     

        <div class="PierakstsLogi"> 
            <input type="text" id="slimnica" placeholder="slimnīca">
            <input type="text" id="slimnicaAdrese" placeholder="adrese">
          
            <button id="pievienotSlimnicas" type="submit"onclick="slimnicu_ievade()">add</button>
            
          
          <ul id="slimnicuUl">
            <div id="slimnicuSaraksts">
            
            </div>
          </ul>

        

          <button class="buttonForDeletion" type="button" onclick="slimnicuIzdzesana()">Izdzest visas vizites</button>

          <div id="container"></div>
          <br>
          <div>
          <button id="arstiDrop">Ārsti</button>
        </div>
      </div>
    </div>     
       
  
        <script src="static/js/global.js"></script>
    </body>
    </html>