<!DOCTYPE html>
<html lang="lv">
<head>
  
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/style.css">
    
</head>
<body>
     <!---<div class="containerBackround">
         
                <div class="myButton">
                 
                      <a href="/"> <img class="Logo"src="static/MedNetLogoMyVer1..png";
                      style="width:100px" /> </a>
                      
                      <div class="myButtonPaddingCostum">
                        <a href="/" >Sākums</a>
                        <a href="/doktoratiunpoliklinikas" >Doktorati un Poliklinkas</a>
                        <a href="/kontakti" >Kontakti</a>
                        <a href="/arsti" >Ārsti</a>
                      </div>
              </div>
               
        
         </header> 
      
  
      <img class="addPosition" src="static/AI-and-Medicine.jpg" >
      <div class="containerPieteiksanas">     

        <div class="PierakstsLogi"> 
            <input type="text" id="slimnica" placeholder="slimnīca">
            <input type="text" id="slimnicaAdrese" placeholder="adrese">
          
            <button id="pievienotSlimnicas" type="submit"onclick="slimnicu_ievade()">add</button>
            
          
          <ul id="slimnicuUl">
            <div id="slimnicuSaraksts">
            
            </div>
          </ul>

        

          <button class="buttonForDeletion" type="button" onclick="slimnicuIzdzesana()">Izdzest visas vizites</button>

          <div id="container"></div>
          <br>
          <div>
          <button id="arstiDrop">Ārsti</button>
        </div>
      </div>
    </div> -->  

  <div class="containerBackround">
    <div class="myButton">
                 
                      <a href="/"> <img class="Logo"src="static/MedNetLogoMyVer1..png";
                      style="width:100px" /> </a>
                      
                      <div class="myButtonPaddingCostum">
                        <a href="/" >Sākums</a>
                      </div>
              </div>
  </div>
  <div class="PierakstsLogi">

    <center>
      <table border="4">
        <thead>
          <tr>
              <th>Ievadiet pieejamu pierakstu</th>
              <input type="text" id="slimnica" placeholder="Slimnīca">
          </tr>
        </thead>
        <tbody>
          <tr>
              <th>Slimnīca</th>
              <td><input type="text" id="slimnica" placeholder="Slimnīca"></td>
          </tr>
          <tr>
            <th>Amats</th>
            <td><input type="text" id="amats" placeholder="Amats"></td>
          </tr>
          <tr>
            <th>Ārsts</th>
            <td><input type="text" id="arsts" placeholder="Ārsts"></td>
          </tr>
          <tr>
            <th>Datums</th>
            <td><input type="text" id="datums" placeholder="Datums"></td>
          </tr>
          <tr>
            <th>Laiks</th>
            <td><input type="text" id="laiks" placeholder="Laiks"></td>
          </tr>
          <tr id="btna">
            <td colspan="4">
              <input type="button" id="btn" value="Add" onclick="AddRow()"></input>
            </td>  
          </tr>
      
    
        
        </tbody>
      </table>
      <table border="4" id="show">
        <thead>
          <tr>
            <th>Slimnīca</th>
            <th>Amats</th>
            <th>Ārsts</th>
            <th>Datums</th>
            <th>Laiks</th>
          </tr>
        </thead>
      </table>
    </center>
  </div>
       
  
        <script src="static/js/global.js"></script>
    </body>
    </html>