<!DOCTYPE html>
<html lang="lv">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/style.css">
    <title>MedNet</title>
</head>
<body>
  
    <div class="containerBackround">
         <header >
      
          <div class="header">
              <div id="kk-big-baner" >
              		
                </a>
              </div>
          </div>
                <div class="myButton">
                 
                      <a href="/"> <img class="Logo"src="static/MedNetLogoMyVer1..png";
                      style="width:100px" /> </a>
                      
                      <div class="myButtonPaddingCostum">
                        <a href="/" >Sākums</a> 
                        <a href= "/vizites">Pieteikt vizīti</a>
                      </div>
              </div>
               
        
         </header> 
         
         <img src="static/images.png">
         <img src="static/happyMan.png">
        <p>
            tālrunis - +371 22352352
        </p>   
        
    <div/>   
    <script src="static/js/global.js"></script>
</body>
</html>