 <!DOCTYPE html>
<html lang="lv">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/style.css">
    <title>MedNet</title>
</head>

  <div class="containerBackround">
         <header >
      
          <div class="header">
              <div id="kk-big-baner" >
              		
                </a>
              </div>
          </div>
                <div class="myButton">
                 
                       <a href="/"> <img class="Logo"src="static/MedNetLogoMyVer1..png";
                      style="width:100px" /> </a>
                      
                      <div class="myButtonPaddingCostum">
                        <a href="/" >Sākums</a> 
                        <a href="/doktoratiunpoliklinikas" >pievienot</a>
                      </div>
              </div>
               
        
         </header>    
         <img class="addPosition" src="static/AI-and-Medicine.jpg" >
  <div/>      
    <script src="static/js/global.js"></script>
</body>
</html>